<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Air-Plan | catch-letter</title>
  <link rel="Shortcut Icon" type="img/x-icon" href="./img/share/logo_2.png" >
  <link href="./css/main.css" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
  <script src="./js/three.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script> -->
  <script src="./js/boid.js"></script>
  <script src="./js/butterfly.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
</head>
<body class="catchletter-body">
  <div class="nav-body">
    <div id="navHead" class="nav-navBgWrap">
        <div class="nav-navBg">
            <img src="./img/share/nav_lightBox.svg" alt="">
            <nav id="intColor" class="nav-navWrap">
                <!-- <div class="nav-topBlock">
              登入和設定 
          </div> -->
                <div class="nav-logoWrap">
                    <a href="./home.html"><img src="./img/share/LOGO.png"></a>
                </div>
                <div class="nav-navPageWrap hbg">
                    <ul class="nav-list" id="list">
                        <a class="nav-logo" href="./home.html"><img src="./img/share/LOGO.png"></a>
                        <li><a href="./write-letter.html">
                                <p class="nav-pageName">寫信</p> <span class="nav-circle-1 "></span>
                            </a> </li>
                        <li><a href="./catch-letter.html">
                                <p class="nav-pageName">撈信</p> <span class="nav-circle-2"></span>
                            </a> </li>
                        <li><a href="./shop.html">
                                <p class="nav-pageName">商城</p> <span class="nav-circle-3"></span>
                            </a> </li>
                        <li><a href="./cave.html">
                                <p class="nav-pageName">我的倉庫</p> <span class="nav-circle-4"></span>
                            </a> </li>
                        <li><a href="./chatroom.html">
                                <p class="nav-pageName">聊天室</p> <span class="nav-circle-5"></span>
                            </a> </li>
                        <li><a href="./user-setting.html">
                                <p class="nav-pageName">用戶設定</p> <span class="nav-circle-6"></span>
                            </a> </li>
                        <div class="hbg-botWrap">
                            <!--漢堡登入者資訊-->
                            <div class="hbg-littleNav">
                                <a class="showSigin" href="#"><i id="signInStatusIconH"
                                        class="fas fa-user-circle"></i></a>
                                <span id="signInStatusH" class="showSigin">登入</span>
                            </div>
                            <div class="hbg-pc">
                                <div class="cav-member">
                                    <div id="cavMemberH"></div>
                                </div>
                                <div class="cav-paper">
                                    <div id="cavPaperH"></div>
                                </div>
                                <div class="cav-coin">
                                    <div id="cavCoinH"></div>
                                </div>
                                <!-- <div class="cav-member">會員:666</div> -->
                                <!-- <div class="cav-paper">信紙:999</div> -->
                                <!-- <div class="cav-coin">Air幣:777</div> -->
                            </div>
                        </div>
                    </ul>
                    <div class="nav-road">
                        <div></div>
                    </div>
                </div>
            </nav>
            <div class="nav-littleNav">
                <a id="showSigin" class="showSigin" href="#"><i id="signInStatusIconN"
                        class="fas fa-user-circle"></i></a>
                <span id="signInStatusN" class="showSigin">登入</span>
            </div>
            <div class="nav-pc">
                <!--nav登入者資訊-->
                <div class="cav-member">
                    <div id="cavMemberN"></div>
                </div>
                <div class="cav-paper">
                    <div id="cavPaperN"></div>
                </div>
                <div class="cav-coin">
                    <div id="cavCoinN"></div>
                </div>
                <!-- <div class="cav-member">會員:666</div> -->
                <!-- <div class="cav-paper">信紙:999</div> -->
                <!-- <div class="cav-coin">Air幣:777</div> -->
            </div>
        </div>
    </div>

    <div class="nav-hamPosition">
        <div class="nav-hamburgerWrap">
            <div class="hambuger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <!-- 登入 -->
    <div class="signInBg" id="signInBg">
        <div class="signInData">
            <h4>Sign In</h4>
            <p id="closeSigin" class="closeSignin">X</p>
            <form class="formsignInData">
                <img class="signInLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="signInEmail">
                    <P>Email:</P>
                </label>
                <input class="signInEmail" input type="email" id="signInEmail" placeholder="Email" name="memEmail"
                    required autofocus>

                <label for="signInPassword">
                    <P>Password:</P>
                </label>
                <input class="signInPassword" type="password" id="signInPassword" placeholder="密碼需為8-12長度的英文大小寫或數字"
                    name="memPsw" required>

                <p class="showForget" id="showForget">忘記密碼</p>
                <p class="showRegister" id="showRegister">註冊</p>

                <!-- <br> -->
                <button id="signInBtn" class="signInBtn" type="button" value="登入">
                    <p>Sign in</p>
                </button>

                <button id="signInCancelBtn" class="signInCancelBtn" type="button" value="取消">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
        <!-- <img class="envelopeup" src="./img/user-setting/envelopeup.png" alt="">
  <img class="envelopedown" src="./img/user-setting/envelopedown.png" alt=""> -->
    </div>
    <!-- 註冊 -->
    <div class="registerBg" id="registerBg">
        <div class="registerData">
            <h4>Register</h4>
            <p class="closeRegister" id="closeRegister">X</p>
            <form class="formRegisterData">
                <img class="registerLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="registerEmail">
                    <P>Email:</P>
                </label>
                <input class="registerEmail" input type="email" id="registerEmail" placeholder="Email" name="memEmail"
                    required autofocus>

                <label for="registerPassword">
                    <P>Password:</P>
                </label>
                <input class="registerPassword" type="password" id="registerPassword" placeholder="密碼需為8-12長度的英文大小寫或數字"
                    name="memPsw" maxlength="12" required>

                <label for="registerPasswordCheck">
                    <P>Password again:</P>
                </label>
                <input class="registerPasswordCheck" type="password" id="registerPasswordCheck"
                    placeholder="密碼需為8-12長度的英文大小寫或數字" name="memPswAgain" maxlength="12" required>

                <br>
                <button id="registerBtn" class="registerBtn" type="button" value="註冊">
                    <p>Register</p>
                </button>
                <button id="registerCancelBtn" class="registerCancelBtn" type="button" value="取消">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
    </div>
    <!-- 忘記密碼 -->
    <div class="forgetBg" id="forgetBg">
        <div class="forgetBgData">
            <h4>Get new password</h4>
            <p class="closeForget" id="closeForget">X</p>
            <form class="formForgetData">
                <img class="forgetLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="forgetEmail">
                    <P>Email:</P>
                </label>
                <input class="forgetEmail" input type="email" id="forgetEmail" placeholder="Email" required autofocus>

                <br>
                <button id="forgetBtn" class="forgetBtn" type="button" value="忘記密碼">
                    <p>Get</p>
                </button>
                <button id="forgetCancelBtn" class="forgetCancelBtn" type="button" value="忘記密碼">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- 控制navbar上下移 -->
<script>
    let a;
    $(function () {
        $(window).scroll(function (e) {
            let scrollValue = $(this).scrollTop()
            if (scrollValue > 200) {
                $("div.nav-navBgWrap").addClass("-on");
                if ($(this).scrollTop() - a < 0) {
                    $("div.nav-navBgWrap").removeClass("-on");
                }
                a = $(this).scrollTop()
            } else {
                $("div.nav-navBgWrap").removeClass("-on");
            }
        });
    });
</script>
<script>
    const hambuger = document.querySelector('.hambuger');

    hambuger.addEventListener('click', () => {
        hambuger.classList.toggle('change');
    })
</script>
<!--     hamburger icon 的切換  -->
<script>
    $("div.hambuger").on("click", function () {
        $('#list').toggleClass('open');
        $("body").toggleClass('open');
    });
</script>
<!-- 顯示所在頁面提示 -->
<script>
    $(function () {
        var nav = $(".nav-navWrap .nav-list a");
        // console.log(nav);
        var url = window.location.href;
        // console.log(url);
        // console.log(url.split("/")[url.split("/").length - 1]);
        var page = "./" + url.split("/")[url.split("/").length - 1];
        // console.log(page);
        var host = window.location.host;
        // console.log(host);
        for (var i = 0; i < nav.length; i++) {
            var astr = nav.eq(i).attr("href");
            while (page == astr) {
                nav.eq(i).find(".nav-pageName").addClass('nav-now').siblings().removeClass('nav-now');
                // console.log(i);
                break;
            }
        }

    })

</script>

<!-- 登入系統 及 註冊系統 -->
<script>
    function logout() {//////////////////登出
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            document.getElementById("cavMemberN").innerText = "";
            document.getElementById("cavMemberH").innerText = "";
            document.getElementById("cavPaperN").innerText = "";
            document.getElementById("cavPaperH").innerText = "";
            document.getElementById("cavCoinN").innerText = "";
            document.getElementById("cavCoinH").innerText = "";
            document.getElementById("signInStatusIconN").style.color = '#aaa';
            document.getElementById("signInStatusIconH").style.color = '#aaa';
            document.getElementById("signInStatusN").innerHTML = "登入";
            document.getElementById("signInStatusH").innerHTML = "登入";
            document.getElementById("intColor").style.backgroundColor = "";
            location.reload();//登出後刷新頁面清除資料
        }
        xhr.open("get", "./phps/nav_logout.php", true);
        xhr.send(null)
    }

    function cancelSignIn() {//////////////////清除登入表單內容
        document.getElementById("signInEmail").value = "";
        document.getElementById("signInPassword").value = "";
        document.getElementById("signInBg").style.display = "none";
    }

    function showMemInfo(jsonStr) {//////////////////顯示登入者資訊
        let member = JSON.parse(jsonStr);
        if (member.memNo) {
            document.getElementById("cavMemberN").innerText = '會員:' + member.memName + '-' + member.memNo;
            document.getElementById("cavMemberH").innerText = '會員:' + member.memName + '-' + member.memNo;
            document.getElementById("cavPaperN").innerText = '信紙:' + member.letCount;
            document.getElementById("cavPaperH").innerText = '信紙:' + member.letCount;
            document.getElementById("cavCoinN").innerText = 'Air幣:' + member.airCoin;
            document.getElementById("cavCoinH").innerText = 'Air幣:' + member.airCoin;
            document.getElementById("signInStatusIconN").style.color = 'green';
            document.getElementById("signInStatusIconH").style.color = 'green';
            document.getElementById("signInStatusN").innerHTML = "登出";
            document.getElementById("signInStatusH").innerHTML = "登出";
            if (member.intColor == 0) {
                document.getElementById("intColor").style.backgroundColor = "rgba(255, 255, 255, .2)";
            } else {
                document.getElementById("intColor").style.backgroundColor = "rgba(0,0,0,.2)";
            }
            cancelSignIn();
            location.reload();//登入資訊抓取方式2:從整頁面
        } else {
            alert("帳密錯誤");
        }
    }

    function sendSignInForm() {//////////////////登入表單發送
        const signInmemEmail = document.getElementById("signInEmail").value;
        const signInmemPsw = document.getElementById("signInPassword").value;
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            showMemInfo(xhr.responseText);
        }
        xhr.open("post", "./phps/nav_login.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (signInmemEmail != '' && signInmemPsw != '') {
            let data_info = `memEmail=${signInmemEmail}&memPsw=${signInmemPsw}`;
            xhr.send(data_info);
        } else {
            alert('欄位不可空白');
        }
    }

    function getSignInInfo() {//////////////////取得登入資訊 依登入狀況呈現登入資訊
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            let member = JSON.parse(xhr.responseText);
            //   console.log("第一手session資料_memNo:",member.memNo);
            //   console.log("第一手session資料_memName:",member.memName);
            //   console.log("第一手session資料_memEmail:",member.memEmail);
            //   console.log("第一手session資料_letCount:",member.letCount);
            //   console.log("第一手session資料_airCoin:",member.airCoin);
            //   console.log("第一手session資料_intColor:",member.intColor);
            //   console.log("第一手session資料_matPosUrl:",member.matPosUrl);
            //   console.log("第一手session資料_memPsw:",member.memPsw);
            //   console.log("第一手session資料_matPosNo:",member.matPosNo);
            //   console.log("第一手session資料_matPatNo:",member.matPatNo);
            if (member.memNo) {
                document.getElementById("cavMemberN").innerText = '會員:' + member.memName + '-' + member.memNo;
                document.getElementById("cavMemberH").innerText = '會員:' + member.memName + '-' + member.memNo;
                document.getElementById("cavPaperN").innerText = '信紙:' + member.letCount;
                document.getElementById("cavPaperH").innerText = '信紙:' + member.letCount;
                document.getElementById("cavCoinN").innerText = 'Air幣:' + member.airCoin;
                document.getElementById("cavCoinH").innerText = 'Air幣:' + member.airCoin;
                document.getElementById("signInStatusIconN").style.color = 'green';
                document.getElementById("signInStatusIconH").style.color = 'green';
                document.getElementById("signInStatusN").innerHTML = "登出";
                document.getElementById("signInStatusH").innerHTML = "登出";
                if (member.intColor == 0) {
                    document.getElementById("intColor").style.backgroundColor = "rgba(255, 255, 255, .2)";
                } else {
                    document.getElementById("intColor").style.backgroundColor = "rgba(0,0,0,.2)";
                }
                // console.log('登入狀態:已登入');
            } else {
                // console.log('登入狀態:尚未登入');
            }
        }
        xhr.open("get", "./phps/nav_getSignInInfo.php", true);
        xhr.send(null);
    }


    function memName() {//////////////////memName產生器
        var arr = ['丹迪', '雲彩', '粉彩', '西卡', '牛皮', '瓦楞'];
        var index = Math.floor((Math.random() * arr.length));
        return arr[index];
    }

    function cancelRegisterForm() {//////////////////清除註冊表單內容
        document.getElementById("registerEmail").value = "";
        document.getElementById("registerPassword").value = "";
        document.getElementById("registerPasswordCheck").value = "";
        document.getElementById("registerBg").style.display = "none";
        document.getElementById("signInBg").style.display = "block";
    }

    function sendRegisterForm() {//////////////////註冊表單發送
        const registermemEmail = document.getElementById("registerEmail").value;
        const registermemPsw = document.getElementById("registerPassword").value;
        const registermemPswCheck = document.getElementById("registerPasswordCheck").value;
        const registermemName = memName();
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            memberR = JSON.parse(xhr.responseText);
            if (memberR.memEmail) {
                cancelRegisterForm();
                document.getElementById("signInBg").style.display = "none";
                let xhr = new XMLHttpRequest();
                let memEmail = memberR.memEmail;
                let memPsw = memberR.memPsw;
                let data_info = `memEmail=${memEmail}&memPsw=${memPsw}`;
                xhr.onload = function () {
                    showMemInfo(xhr.responseText);
                }
                xhr.open("post", "./phps/nav_login.php", true);
                xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                xhr.send(data_info);
                alert(memberR.memEmail + ' ' + '您好！ 您已註冊成功');
            }
            else {
                alert('此Email已註冊過');
            }
        }
        xhr.open("post", "./phps/nav_register.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (registermemEmail != '' && registermemPsw != '' && registermemPswCheck != '') {
            if (registermemPsw.length >= 8) {
                if (!registermemPsw.match(/[^a-zA-Z0-9]+/)) {
                    if (registermemPsw == registermemPswCheck) {
                        let data_info = `memName=${registermemName}&memEmail=${registermemEmail}&memPsw=${registermemPsw}`;
                        xhr.send(data_info);
                    } else {
                        alert('密碼確認與第一次輸入不同');
                    }
                } else {
                    alert('密碼須為英文大小寫或數字');
                }
            } else {
                alert('密碼長度需為8-12');
            }
        } else {
            alert('欄位不可空白');
        }
    }

    function newPsw(length) {//////////////////密碼產生器
        let newPsw = '';
        let alphabet = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
        let alphabetLength = alphabet.length;
        for (let i = 0; i < length; i++) {
            newPsw += alphabet.charAt(Math.floor(Math.random() * alphabetLength));
        }
        return newPsw;
    }

    function cancelForgetForm() {//////////////////清除忘記密碼表單內容
        document.getElementById("forgetEmail").value = "";
        document.getElementById("forgetBg").style.display = "none";
        document.getElementById("signInBg").style.display = "block";
    }

    function sendForgetForm() {//////////////////忘記密碼表單發送
        const forgetmemEmail = document.getElementById("forgetEmail").value;
        const memNewPsw = newPsw(8);//呼叫新密碼產生器
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.responseText == 'Success!') {
                document.getElementById("forgetEmail").value = "";
                document.getElementById("forgetBg").style.display = "none";
                alert('新密碼已寄送至您的信箱中');
            }
            else {
                alert('查無此Email');
            }
        }
        xhr.open("post", "phps/airPlanMailer/nav_forget.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (forgetmemEmail != '') {
            let data_infoF = `memEmail=${forgetmemEmail}&newPsw=${memNewPsw}`;
            xhr.send(data_infoF);
        }
        else {
            alert('欄位不可空白');
        }
    }

    window.addEventListener("load", function () {//////////////////表單按鈕事件聆聽
        getSignInInfo();//檢查登入狀態
        document.getElementById("signInBtn").onclick = sendSignInForm;//點擊登入按鈕呼叫發送表單function
        document.getElementById("signInCancelBtn").onclick = cancelSignIn;//點擊取消按鈕呼叫清除表單function
        document.getElementById("registerBtn").onclick = sendRegisterForm;//點擊註冊按鈕呼叫發送表單function
        document.getElementById("registerCancelBtn").onclick = cancelRegisterForm;//點擊註冊取消按鈕呼叫清除表單function
        document.getElementById("forgetBtn").onclick = sendForgetForm;//點擊忘記密碼按鈕呼叫發送表單function
        document.getElementById("forgetCancelBtn").onclick = cancelForgetForm;//點擊忘記密碼取消按鈕呼叫清除表單function
    });
</script>

<!-- 會員登入/註冊/忘記密碼燈箱 -->
<script>
    const signInBg = document.getElementById("signInBg");//登入燈箱
    const showSigin = document.querySelectorAll(".showSigin");
    const closeSigin = document.getElementById("closeSigin");
    const signInStatusL = document.getElementById("signInStatusN");//登入資訊
    showSigin.forEach(item => {//開啟登入燈箱
        item.addEventListener('click', () => {
            if (signInStatusL.innerHTML == "登入") {
                signInBg.style.display = "block";
            }
            else {//登出
                logout();
            }
        })
    })
    closeSigin.onclick = function () {//////////////////x關閉登入燈箱
        cancelSignIn();
    };
    const registerBg = document.getElementById("registerBg");//註冊燈箱
    const showRegister = document.getElementById("showRegister");
    const closeRegister = document.getElementById("closeRegister");
    showRegister.onclick = function () {//////////////////開啟註冊燈箱
        registerBg.style.display = "block";
        signInBg.style.display = "none";
    };
    closeRegister.onclick = function () {//////////////////關閉註冊燈箱
        cancelRegisterForm();
        signInBg.style.display = "none";
    };

    const forgetBg = document.getElementById("forgetBg");//忘記密碼燈箱
    const showForget = document.getElementById("showForget");
    const closeForget = document.getElementById("closeForget");
    showForget.onclick = function () {//////////////////開啟忘記密碼燈箱
        forgetBg.style.display = "block";
        signInBg.style.display = "none";
    };
    closeForget.onclick = function () {//////////////////關閉忘記密碼燈箱
        cancelForgetForm();
        signInBg.style.display = "none";
    };
</script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="./js/kloud.min.js"></script>

<header>
    <div id="headerClouds" style="width: 100%; height: 18vw;">
        <canvas id="myClouds" style="width: 100%; height: 40%;"></canvas>
    </div>
    <!-- 漂浮的雲 -->
    <div class="white-space-bg">
        <div class="head-box">
            <div class="dot-box-blue bottom-bg">
                <span class="share-clip clip-left"></span>
                <span class="share-clip clip-right"></span>
                <div class="box-white top-left-bg">
                    <div class="box-white top-left-bg" id='headerVue' style="position: relative;">
                        <!-- 這裡會自動判斷頁面產生 -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clouds" id="clouds">
            <div class="cloud_1"></div>
            <template  v-for="(cloud, index) in 15">
                <div :class=`cloud_${index}` :style="{left: `${Math.random() * innerWidth}px`}"></div>
            </template>
            
        </div>
    </div>


    
    <script>
        $('#myClouds').Klouds({
            speed: 1,
            layerCount: 4,
            cloudColor1: '#82afd9',
            cloudColor2: '#F7FAFD',
            // bgColor1: '#82afd9',
            bgColor: '#ffffff',
        })
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script>
        /*
         * header Contant Change
         */
        const writeLetter = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div class="headerText-1">寫</div>
                <br>
                <img src="./img/share/Paint-bucket.svg" class="paint-bucket">
                <img src="./img/share/shiny.svg" class="shiny-big">
                <img src="./img/share/shiny.svg" class="shiny-small">
                <img src="./img/share/yellow-paint-line.svg" class="yellow-paint-line">
                <div class="headerText-2">
                    <img src="./img/share/line-paperPlane.svg" class="line-paperPlane">
                    &nbsp一封信
                </div>
            </h1>
            `
        }
        const catchLetter = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div class="catch-headerText">
                <span style="font-size:inherit; ">查看</span>
                <span style="font-size:inherit; ">&nbsp撈信</span>
                </div>
                <br>
                <img src="./img/share/butterfly-net.svg" class="catch-net">
                <img src="./img/share/shiny.svg" class="catch-shinyBig">
                <img src="./img/share/shiny.svg" class="catch-shinySmall">
                <img src="./img/share/yellow-paint-line.svg" class="catch-yellowPaintLine">
                <img src="./img/share/line-paperPlane.svg" class="catch-linePaperPlane">
            </h1>
            `
        }
        const chatroom = {
            template: `
            <h1 class="headpg-name threed-text-blue chatroom-header">
                <div 
                    style="width:45%; text-align:center; display:flex;
                    flex-direction:column; align-items:center; justify-content:space-evenly;">
                <span style="font-size:inherit;">聊天室</span>
                </div>
                <br>
                <img src="./img/share/phone.png" class="phone">
                <img src="./img/share/shiny.svg" class="shiny1">
                <img src="./img/share/shiny.svg" class="shiny2">
                <img src="./img/share/yellow-paint-line.svg" class="paint">
                <img src="./img/share/chat_talk.png" class="chat_talk">
            </h1>
            `
        }
        const cave = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div class="cave-headerText">
                <span style="font-size:inherit;">我的倉庫</span>
                </div>
                <br>
                <img src="./img/cave/cavheaderImg.png" class="cave-cavheaderImg">
                <img src="./img/share/cave-pattern.svg" class="cave-pattern">
            </h1>
            `
        }
        const shop = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div 
                    style="width:80%; text-align:center; display:flex;
                    flex-direction:column; align-items:center; justify-content:space-evenly;">
                <span class="shop-headerText">客製化商城</span>
                </div>
                <br>
                <img src="./img/share/shop-pattern2.svg" class="shop-pattern2">
                <img src="./img/share/shop-pattern.svg" class="shop-pattern">
                
                <img src="./img/share/yellow-paint-line.svg" class="shop-yellowPaintLine">
            </h1>
            `
        }
        const userSetting = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    用戶設定
                <img src="./img/user-setting/wrench.svg" class="userSet-wrench">
                </div>
                <br>
                <img src="./img/user-setting/gear.svg" alt="gear" class="userSet-gear">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    <img src="./img/user-setting/hammer.svg" class="userSet-hammer">
                </div>
            </h1>
            `
        }
        
        new Vue({
            el: '#headerVue',
            template: `
                <div class="box-white top-left-bg">
                    <component :is='pageTitle'/>
                </div>
            `,
            components: {
                writeLetter,
                catchLetter,
                chatroom,
                cave,
                shop,
                userSetting,
            },
            data: {
                pageTitle: null
            },
            mounted(){
                // console.log(location.href.split('/').reverse()[0].split('.')[0]);
                this.pageTitle = location.href.split('/').reverse()[0].split('.')[0];
                
            }
        })
        
        /*
         * header Clouds
         */
        let vm = new Vue({
            el:'#clouds',
        });
    </script>
</header>
  <div
  id="threeWorld"
  style="position: relative; overflow: hidden;"
>
  <div class="chooseBtn" id="chooseBtn">
      <div class="choosw">撈個新聞看看</div>
      <div class="choosw">撈個信件看看</div>
  </div>
  <span id="mouseNet">
    <img id="netImg" src="./img/catch-letter/net.png">
    <span id="missMsg"></span>
  </span>
  <div id="planeContainer"></div>
  <span id="statsBox"></span>
  <div id="planeLetter">
    <span id="nextStepArrow"></span>
    
    <!-- <div id="openMotion" class="open-motion"></div> -->
    <div id="imgWrap_catch">
      <div id="imgfinalStep_catch" style="-webkit-clip-path: polygon(50% 0%, 100% 85%, 100% 100%, 100% 100%, 50% 100%);
      clip-path: polygon(50% 0%, 100% 85%, 100% 100%, 100% 100%, 50% 100%);"></div>
      <div id="planeBody_catch"></div>
      <div id="planeWing_catch" style="-webkit-clip-path: polygon(9% 0%, 0% 80%, 50% 100%, 80% 100%);clip-path: polygon(9% 0%, 0% 80%, 50% 100%, 80% 100%);"></div>
      
      <div id="imgLeftTriangle2_catch" style="display: none;"></div>
      <div id="imgRightTriangle2_catch" style="display: none;-webkit-clip-path: polygon(0% 0%, 0% 55%, 100% 100%);
      clip-path: polygon(0% 0%, 0% 55%, 100% 100%);"></div>

      <div id="catchLetterShow" class="catch-letter" style="display: none;">
        <div class="letter-wrap">
          <div class="letter-head">
            <div class="stamp-box" :style="{backgroundImage:letterUploadImg}"></div>
          </div>
          <div class="letter-contant scroll-container">
            <div class="text">
              <p style="font-weight: 800;">
                {{letteTittle}}
              </p>
              <!-- 蓋章區 -->
              <div id="stampshot">
                <!-- <div class=""></div> -->
              </div>
              <p>
                {{letterContant_1}}
              </p>
              <p>
                {{letterContant_2}}
              </p>
              <p style="text-align: right;">
                {{author}}
              </p>
              <p style="text-align: right; font-size: 1rem; color: #bbb;">
                {{publishedAt}}
              </p>
            </div>
          </div>
  
        </div>
      </div>

      <div id="imgLeftTriangle_catch" style="display: none; -webkit-clip-path: polygon(0 100%, 100% 300%, 100% 0);clip-path: polygon(0 100%, 100% 300%, 100% 0);box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.25) 0px 3px 6px;"></div>
      <div id="imgRightTriangle_catch" style="display: none; clip-path: polygon(-300% 300%, 0px 0px, 100% 100%);-webkit-clip-path: polygon(-300% 300%, 0px 0px, 100% 100%);box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.25) 0px 3px 6px;"></div>
      
    </div>
    
  </div>
</div>

<script src="./js/butterflyRock.js"></script>

  <main id="catchLetterMain" style="display: none;">
    <div id="viewMore">
      <section class="catch-step-1">
        <div class="box-white catch-letter">
          <div id="letterWrap" class="letter-wrap">
            <div style="width:35%;height:20%;position:absolute;top:11%;right:-18%;background-position:center;background-size:contain;background-repeat:no-repeat;transform:translate(-50%,-50%) rotate(-15deg);" :style="{backgroundImage:userStamp[0]}"></div>
            <div class="paper-cloud"></div>
            <div class="letter-head">
              <div class="stamp-box" :style="{backgroundImage:letterUploadImg}"></div>
            </div>
            <div class="letter-contant scroll-container">
              <div class="text">
                <p style="font-weight: 800;">
                  {{letteTittle}}
                </p>
                <!-- 蓋章區 -->
                <div id="stampshot">
                  <!-- <div class=""></div> -->
                </div>
                <p>
                  {{letterContant_1}}
                </p>
                <p>
                  {{letterContant_2}}
                </p>
                <p style="text-align: right;">
                  {{author}}
                </p>
                <p style="text-align: right; font-size: 1rem; color: #bbb;">
                  {{publishedAt}}
                </p>
              </div>
            </div>
            
          </div>
        </div>

        <div class="catchLet-msgBox">
          <div class="dot-box-blue comment-wrap">
            <span class="share-clip clip-left"></span>
            <div class="box-white top-left-bg">
                <div class="box-white top-left-bg">

                  <div id="msgWrap" class="dot-box-white comment-outbox scroll-container">
                    <template v-for="(item, index) in levMsg.length">
                      <div class="box-white comment">
                        <div class="comment-contant">
                          <p class="isLaunched" style="position: fixed; opacity: 0; width: 0;">{{ msgStatus[index] }}</p>
                          <h3 class="user-name">{{ msgUserId[index] }}</h3>
                          <p class="user-text">{{ levMsg[index] }}</p>
                        </div>
                        <!-- btn -->
                        <div id="commentBtn" class="comment-btn">
                          <!-- 檢舉 -->
                          <div class="circle circleBtn like">
                            <button class="msgLike circle button" :value="msgNo[index]"></button>
                          </div>
                          <div class="circle circleBtn report">
                            <button class="msgReport circle button" :value="msgNo[index]"></button>
                          </div>
                          
                        </div>
                      </div>
                    </template>
                  </div>

                </div>
            </div>
          </div>
          <div class="catchLet-Btn">
            <div id="likeThis" class="likeBtn">
              <div id="likeActive" class="btn-big-test">
                <div class="back side-way yellowBtn"></div>
                <div class="left side-way yellowBtn"></div>
                <div class="right side-way yellowBtn"></div>
                <div class="top side-way yellowBtn"></div>
                <div class="bottom side-way yellowBtn_light">
                    <div class='side-way__text'> 打賞此信 </div>
                </div>
                <div class="front side-way yellowBtn"></div>
              </div>
            </div>
            <div id="reportThis" class="likeBtn">
              <div id="reportActive" class="btn-big-test">
                <div class="back side-way redBtn"></div>
                <div class="left side-way redBtn"></div>
                <div class="right side-way redBtn"></div>
                <div class="top side-way redBtn"></div>
                <div class="bottom side-way redBtn_light">
                    <div class='side-way__text'> 檢舉此信 </div>
                </div>
                <div class="front side-way redBtn"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="reportBox" class="dot-box-red reportBox" style="display: none;">
        <button id="closeReportBox" class="exit" type="button">
          <div class="mark x"></div>
          <div class="mark xx"></div>
        </button>
        <div class="box-white">
          <div class="discription">
            <h3>請選擇項目以便繼續</h3>
          </div>
          <div class="whyReport">
            <button class="btn" type="button">
              裸露
            </button>
            <button class="btn" type="button">
              暴力
            </button>
            <button class="btn" type="button">
              自殺或自殘
            </button>
            <button class="btn" type="button">
              不實報導
            </button>
            <button class="btn" type="button">
              垃圾訊息
            </button>
            <button class="btn" type="button">
              仇恨言論
            </button>
            <button class="btn" type="button">
              恐怖主義
            </button>
            <button class="btn" type="button">
              其他
            </button>
          </div>
          <button id="reportBtn" class="reportBtn" type="button">確認檢舉</button>
        </div>
      </div>
      <div id="msgReportBox" class="dot-box-red reportBox" style="display: none;">
        <button id="closeReportBox_msg" class="exit" type="button">
          <div class="mark x"></div>
          <div class="mark xx"></div>
        </button>
        <div class="box-white">
          <div class="discription">
            <h3>請選擇項目以便繼續</h3>
          </div>
          <div class="msgWhyReport whyReport">
            <button class="btn" type="button">
              裸露
            </button>
            <button class="btn" type="button">
              暴力
            </button>
            <button class="btn" type="button">
              自殺或自殘
            </button>
            <button class="btn" type="button">
              不實報導
            </button>
            <button class="btn" type="button">
              垃圾訊息
            </button>
            <button class="btn" type="button">
              仇恨言論
            </button>
            <button class="btn" type="button">
              恐怖主義
            </button>
            <button class="btn" type="button">
              其他
            </button>
          </div>
          <button id="msgReportBtn" class="reportBtn" type="button">確認檢舉</button>
        </div>
      </div>
      <section class="catch-step-msg">
        <div class="dot-box-red comment-wrap">
        <div class="box-white top-left-bg">
            <div class="box-white top-left-bg">
              <div class="dot-box-white comment-outbox scroll-container">
                <div class="box-white comment invite-msg">留下你的想法！</div>
                  <!-- <input type="text" id="leaveMsg" name="leaveMsg" cols="30" rows="10" class="leaveMsg"> -->
                  <textarea id="leaveMsg" name="leaveMsg" cols="30" rows="10" class="leaveMsg" required>
                  </textarea>
              </div>

            </div>
        </div>
        </div>
        <div href="#" class="goto-shop-btn">
          <div class="paper-cloud"></div>
          <img src="./img/write-letter/goto-shop-btn.svg">
          <div class="dot-box-blue shop-signboard">
              <div class="box-white shop-title">
                  <h3 class="threed-text-red shop-text">留言板</h3>
              </div>
          </div>
          
        </div>
      </section>
      
      <section class="catch-step-2" id="catchStep2">
        <div class="box-white bottom-bg">
            <span class="share-clip clip-left">
            </span>
            <div class="dot-box-yellow top-right top-right-bg">
                <div class="box-white top-right-bg">
                    <div class="box-white top-right-bg">
                        <div class="num-four">
                            <h2>選擇郵戳，進行下一步!</h2>
                        </div>
                        <div class="select-stamp">
                            <span class="arrow-white"></span>
                            <div class="stamp-type">
                              <template v-for="(item,index) in userStamp.length">
                                <button class="type" name="userStamp" :value="stampValue[index]" type="button"
                                @click="clickStamp"
                                @touchstart="clickStamp">
                                    <span :style="{backgroundImage: userStamp[index]}"></span>
                                </button>
                            </template>
                            </div>
                            <span class="arrow-white reverse"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </main>
  <span id="goBackBtn" class="goBackBtn" style="display: none;">
    <a href="./write-letter.html" class="goBtn">前往寫信</a>
    <a id="catchAgain" class="goBtn">再撈一次</a>
    <a href="./cave.html" class="goBtn">前往倉庫</a>
  </span>
    <div class="planeBox">
  <div id="imgWrap" style="display: none;" draggable="true">
    <span id="pointer" class="pointerAll" draggable="true"></span>
    <div id="reduceLetCount" class="msg">信件-1</div>
    <div id="img" :style="{backgroundImage: letUrl}">
      <div id="selectStamp" :style="{backgroundImage: chooseStampUrl}"></div>
    </div>
    <div id="imgLeftTriangle" :style="{backgroundImage: letPattern}"></div>
    <div id="imgLeftTriangle2" :style="{backgroundImage: letPattern}"></div>
    <div id="imgRightTriangle" :style="{backgroundImage: letPattern}"></div>
    <div id="imgRightTriangle2" :style="{backgroundImage: letPattern}"></div>
    <div id="imgFinalStep" :style="{backgroundImage: letPattern}"></div>
    <div id="planeBody" :style="{backgroundImage: letPattern}"></div>
    <div id="planeWing" :style="{backgroundImage: letPattern}"></div>
  </div>
</div>
    <footer class="footer-bottom"><p> Copyright © Air Plan All rights reserved.</p></footer>


    <script src="./js/foldThePlane.js"></script>
    <script src="./js/catchLetter.js"></script>
    <script src="./js/randomCatch.js"></script>
  
  <script>
    let vmCatchLet= new Vue({
      el:'#catchLetterMain',
      data:{
        // threeOpen: true,
        viewMoreOpen:true,
        userNo: 0,
        userStamp:[],//存使用者 擁有 的郵戳
        stampValue:[],
        letterStamp: '',
        //串接信件內容
        letteTittle: "",
        letterContant_1: "",
        letterContant_2: "",
        letterUploadImg: "",
        publishedAt: "",
        author: "",
        msgUserId:[], //存留言者的id
        levMsg:[], //存留言
        msgNo:[],//留言編號
        msgStatus:[],//存留言上下架狀態
        letNo: 0,//撈出來的信件編號
        whyReport: '',//存檢舉信件原因
        reportMsgNo: 0, //被檢舉的留言編號
        whyReportMsg: '',//被檢舉的留言原因
      },
      methods: {
        clickStamp(e) {
          this.letterStamp = e.target.style.backgroundImage;
        },
      },
      mounted() {
        function onFulfilled(value){
          //登入成功 -> 取用戶彩繪圖案、用戶郵戳
          vmCatchLet.userNo = value;
          // console.log(`userNo: ${vmCatchLet.userNo}`);
          
          fetch('./phps/fetchAllUserMat.php')
            .then(res=>res.json()).then(json=>{
              //拆出 stamp
              for(let i=0 ; i<json.data.length ; i++){
                if(json.data[i].stampNo){
                  vmCatchLet.userStamp.push(`url(${json.data[i].stampUrl})`);
                  vmCatchLet.stampValue.push(json.data[i].stampNo);//取 使用者飛機彩繪的編號得值(matPosNo)
                }
              }
              // console.log(vmCatchLet.userStamp);
            })
        }
        function onRejected(reason){
          //沒有登入
          // console.log(reason.message);
          let singInBox = document.getElementById('signInBg');
          let closeSigin = document.getElementById('closeSigin');
          let closeRegister = document.getElementById('closeRegister');
          let signInCancelBtn = document.getElementById('signInCancelBtn');
          let closeForget = document.getElementById('closeForget');
          let vistiorsBtn = document.createElement('button');
          let singInText = document.createElement('p');
          let vistiorsBtnText = document.createElement('p');
          singInBox.style.display = "block";
          
          closeSigin.style.display = "none";
          closeRegister.style.display = "none";
          closeForget.style.display = "none";
          signInCancelBtn.style.display = "none";
          vistiorsBtnText.innerText = "訪客登入";
          vistiorsBtn.setAttribute('id','vistiorsBtn');
          vistiorsBtn.setAttribute('type','button');
          vistiorsBtn.appendChild(vistiorsBtnText);
          singInText.innerText = reason.message;
          singInText.style="display:inline-block;width:80%;text-align:center;background-size:100% 100%;position:absolute;top:7.5%;left: 50%;transform:translate(-50%, -50%);z-index:999;color:#fff;font-size:2rem;";
          singInBox.appendChild(singInText);
          document.querySelector('.formsignInData').appendChild(vistiorsBtn);

          vistiorsBtn.addEventListener('click',visitorsLogin,false);
          // signInCancelBtn.onclick = visitorsLogin;
        }
        function visitorsLogin(e){
          e.target.preventDefault;
          document.getElementById('signInEmail').value="visiter@gmail.com";
          document.getElementById('signInPassword').value= "111";
        }
        function getSignInInfo(){
          return new Promise((resolve, reject)=>{
            let xhr = new XMLHttpRequest();
            xhr.onload = function () {
                let member = JSON.parse(xhr.responseText);
                if (member.memNo) {
                  // console.log(member.memNo);
                  resolve(member.memNo);
                }else{
                  reject(new Error('請先登入才能撈信'))
                }
            }
            xhr.open("get", "./phps/nav_getSignInInfo.php", true);
            xhr.send(null);
          })
        }
        getSignInInfo()
          .then(onFulfilled)
          .catch(onRejected)
      },
    });
  </script>
</body>
</html>
