<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Air-Plan | shop</title>
  <link rel="Shortcut Icon" type="img/x-icon" href="./img/share/logo_2.png" >
  <link rel="stylesheet" href="./css/main.css">

</head>

<body class="shop-body">
  <div class="nav-body">
    <div id="navHead" class="nav-navBgWrap">
        <div class="nav-navBg">
            <img src="./img/share/nav_lightBox.svg" alt="">
            <nav id="intColor" class="nav-navWrap">
                <!-- <div class="nav-topBlock">
              登入和設定 
          </div> -->
                <div class="nav-logoWrap">
                    <a href="./home.html"><img src="./img/share/LOGO.png"></a>
                </div>
                <div class="nav-navPageWrap hbg">
                    <ul class="nav-list" id="list">
                        <a class="nav-logo" href="./home.html"><img src="./img/share/LOGO.png"></a>
                        <li><a href="./write-letter.html">
                                <p class="nav-pageName">寫信</p> <span class="nav-circle-1 "></span>
                            </a> </li>
                        <li><a href="./catch-letter.html">
                                <p class="nav-pageName">撈信</p> <span class="nav-circle-2"></span>
                            </a> </li>
                        <li><a href="./shop.html">
                                <p class="nav-pageName">商城</p> <span class="nav-circle-3"></span>
                            </a> </li>
                        <li><a href="./cave.html">
                                <p class="nav-pageName">我的倉庫</p> <span class="nav-circle-4"></span>
                            </a> </li>
                        <li><a href="./chatroom.html">
                                <p class="nav-pageName">聊天室</p> <span class="nav-circle-5"></span>
                            </a> </li>
                        <li><a href="./user-setting.html">
                                <p class="nav-pageName">用戶設定</p> <span class="nav-circle-6"></span>
                            </a> </li>
                        <div class="hbg-botWrap">
                            <!--漢堡登入者資訊-->
                            <div class="hbg-littleNav">
                                <a class="showSigin" href="#"><i id="signInStatusIconH"
                                        class="fas fa-user-circle"></i></a>
                                <span id="signInStatusH" class="showSigin">登入</span>
                            </div>
                            <div class="hbg-pc">
                                <div class="cav-member">
                                    <div id="cavMemberH"></div>
                                </div>
                                <div class="cav-paper">
                                    <div id="cavPaperH"></div>
                                </div>
                                <div class="cav-coin">
                                    <div id="cavCoinH"></div>
                                </div>
                                <!-- <div class="cav-member">會員:666</div> -->
                                <!-- <div class="cav-paper">信紙:999</div> -->
                                <!-- <div class="cav-coin">Air幣:777</div> -->
                            </div>
                        </div>
                    </ul>
                    <div class="nav-road">
                        <div></div>
                    </div>
                </div>
            </nav>
            <div class="nav-littleNav">
                <a id="showSigin" class="showSigin" href="#"><i id="signInStatusIconN"
                        class="fas fa-user-circle"></i></a>
                <span id="signInStatusN" class="showSigin">登入</span>
            </div>
            <div class="nav-pc">
                <!--nav登入者資訊-->
                <div class="cav-member">
                    <div id="cavMemberN"></div>
                </div>
                <div class="cav-paper">
                    <div id="cavPaperN"></div>
                </div>
                <div class="cav-coin">
                    <div id="cavCoinN"></div>
                </div>
                <!-- <div class="cav-member">會員:666</div> -->
                <!-- <div class="cav-paper">信紙:999</div> -->
                <!-- <div class="cav-coin">Air幣:777</div> -->
            </div>
        </div>
    </div>

    <div class="nav-hamPosition">
        <div class="nav-hamburgerWrap">
            <div class="hambuger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <!-- 登入 -->
    <div class="signInBg" id="signInBg">
        <div class="signInData">
            <h4>Sign In</h4>
            <p id="closeSigin" class="closeSignin">X</p>
            <form class="formsignInData">
                <img class="signInLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="signInEmail">
                    <P>Email:</P>
                </label>
                <input class="signInEmail" input type="email" id="signInEmail" placeholder="Email" name="memEmail"
                    required autofocus>

                <label for="signInPassword">
                    <P>Password:</P>
                </label>
                <input class="signInPassword" type="password" id="signInPassword" placeholder="密碼需為8-12長度的英文大小寫或數字"
                    name="memPsw" required>

                <p class="showForget" id="showForget">忘記密碼</p>
                <p class="showRegister" id="showRegister">註冊</p>

                <!-- <br> -->
                <button id="signInBtn" class="signInBtn" type="button" value="登入">
                    <p>Sign in</p>
                </button>

                <button id="signInCancelBtn" class="signInCancelBtn" type="button" value="取消">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
        <!-- <img class="envelopeup" src="./img/user-setting/envelopeup.png" alt="">
  <img class="envelopedown" src="./img/user-setting/envelopedown.png" alt=""> -->
    </div>
    <!-- 註冊 -->
    <div class="registerBg" id="registerBg">
        <div class="registerData">
            <h4>Register</h4>
            <p class="closeRegister" id="closeRegister">X</p>
            <form class="formRegisterData">
                <img class="registerLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="registerEmail">
                    <P>Email:</P>
                </label>
                <input class="registerEmail" input type="email" id="registerEmail" placeholder="Email" name="memEmail"
                    required autofocus>

                <label for="registerPassword">
                    <P>Password:</P>
                </label>
                <input class="registerPassword" type="password" id="registerPassword" placeholder="密碼需為8-12長度的英文大小寫或數字"
                    name="memPsw" maxlength="12" required>

                <label for="registerPasswordCheck">
                    <P>Password again:</P>
                </label>
                <input class="registerPasswordCheck" type="password" id="registerPasswordCheck"
                    placeholder="密碼需為8-12長度的英文大小寫或數字" name="memPswAgain" maxlength="12" required>

                <br>
                <button id="registerBtn" class="registerBtn" type="button" value="註冊">
                    <p>Register</p>
                </button>
                <button id="registerCancelBtn" class="registerCancelBtn" type="button" value="取消">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
    </div>
    <!-- 忘記密碼 -->
    <div class="forgetBg" id="forgetBg">
        <div class="forgetBgData">
            <h4>Get new password</h4>
            <p class="closeForget" id="closeForget">X</p>
            <form class="formForgetData">
                <img class="forgetLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="forgetEmail">
                    <P>Email:</P>
                </label>
                <input class="forgetEmail" input type="email" id="forgetEmail" placeholder="Email" required autofocus>

                <br>
                <button id="forgetBtn" class="forgetBtn" type="button" value="忘記密碼">
                    <p>Get</p>
                </button>
                <button id="forgetCancelBtn" class="forgetCancelBtn" type="button" value="忘記密碼">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- 控制navbar上下移 -->
<script>
    let a;
    $(function () {
        $(window).scroll(function (e) {
            let scrollValue = $(this).scrollTop()
            if (scrollValue > 200) {
                $("div.nav-navBgWrap").addClass("-on");
                if ($(this).scrollTop() - a < 0) {
                    $("div.nav-navBgWrap").removeClass("-on");
                }
                a = $(this).scrollTop()
            } else {
                $("div.nav-navBgWrap").removeClass("-on");
            }
        });
    });
</script>
<script>
    const hambuger = document.querySelector('.hambuger');

    hambuger.addEventListener('click', () => {
        hambuger.classList.toggle('change');
    })
</script>
<!--     hamburger icon 的切換  -->
<script>
    $("div.hambuger").on("click", function () {
        $('#list').toggleClass('open');
        $("body").toggleClass('open');
    });
</script>
<!-- 顯示所在頁面提示 -->
<script>
    $(function () {
        var nav = $(".nav-navWrap .nav-list a");
        // console.log(nav);
        var url = window.location.href;
        // console.log(url);
        // console.log(url.split("/")[url.split("/").length - 1]);
        var page = "./" + url.split("/")[url.split("/").length - 1];
        // console.log(page);
        var host = window.location.host;
        // console.log(host);
        for (var i = 0; i < nav.length; i++) {
            var astr = nav.eq(i).attr("href");
            while (page == astr) {
                nav.eq(i).find(".nav-pageName").addClass('nav-now').siblings().removeClass('nav-now');
                // console.log(i);
                break;
            }
        }

    })

</script>

<!-- 登入系統 及 註冊系統 -->
<script>
    function logout() {//////////////////登出
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            document.getElementById("cavMemberN").innerText = "";
            document.getElementById("cavMemberH").innerText = "";
            document.getElementById("cavPaperN").innerText = "";
            document.getElementById("cavPaperH").innerText = "";
            document.getElementById("cavCoinN").innerText = "";
            document.getElementById("cavCoinH").innerText = "";
            document.getElementById("signInStatusIconN").style.color = '#aaa';
            document.getElementById("signInStatusIconH").style.color = '#aaa';
            document.getElementById("signInStatusN").innerHTML = "登入";
            document.getElementById("signInStatusH").innerHTML = "登入";
            document.getElementById("intColor").style.backgroundColor = "";
            location.reload();//登出後刷新頁面清除資料
        }
        xhr.open("get", "./phps/nav_logout.php", true);
        xhr.send(null)
    }

    function cancelSignIn() {//////////////////清除登入表單內容
        document.getElementById("signInEmail").value = "";
        document.getElementById("signInPassword").value = "";
        document.getElementById("signInBg").style.display = "none";
    }

    function showMemInfo(jsonStr) {//////////////////顯示登入者資訊
        let member = JSON.parse(jsonStr);
        if (member.memNo) {
            document.getElementById("cavMemberN").innerText = '會員:' + member.memName + '-' + member.memNo;
            document.getElementById("cavMemberH").innerText = '會員:' + member.memName + '-' + member.memNo;
            document.getElementById("cavPaperN").innerText = '信紙:' + member.letCount;
            document.getElementById("cavPaperH").innerText = '信紙:' + member.letCount;
            document.getElementById("cavCoinN").innerText = 'Air幣:' + member.airCoin;
            document.getElementById("cavCoinH").innerText = 'Air幣:' + member.airCoin;
            document.getElementById("signInStatusIconN").style.color = 'green';
            document.getElementById("signInStatusIconH").style.color = 'green';
            document.getElementById("signInStatusN").innerHTML = "登出";
            document.getElementById("signInStatusH").innerHTML = "登出";
            if (member.intColor == 0) {
                document.getElementById("intColor").style.backgroundColor = "rgba(255, 255, 255, .2)";
            } else {
                document.getElementById("intColor").style.backgroundColor = "rgba(0,0,0,.2)";
            }
            cancelSignIn();
            location.reload();//登入資訊抓取方式2:從整頁面
        } else {
            alert("帳密錯誤");
        }
    }

    function sendSignInForm() {//////////////////登入表單發送
        const signInmemEmail = document.getElementById("signInEmail").value;
        const signInmemPsw = document.getElementById("signInPassword").value;
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            showMemInfo(xhr.responseText);
        }
        xhr.open("post", "./phps/nav_login.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (signInmemEmail != '' && signInmemPsw != '') {
            let data_info = `memEmail=${signInmemEmail}&memPsw=${signInmemPsw}`;
            xhr.send(data_info);
        } else {
            alert('欄位不可空白');
        }
    }

    function getSignInInfo() {//////////////////取得登入資訊 依登入狀況呈現登入資訊
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            let member = JSON.parse(xhr.responseText);
            //   console.log("第一手session資料_memNo:",member.memNo);
            //   console.log("第一手session資料_memName:",member.memName);
            //   console.log("第一手session資料_memEmail:",member.memEmail);
            //   console.log("第一手session資料_letCount:",member.letCount);
            //   console.log("第一手session資料_airCoin:",member.airCoin);
            //   console.log("第一手session資料_intColor:",member.intColor);
            //   console.log("第一手session資料_matPosUrl:",member.matPosUrl);
            //   console.log("第一手session資料_memPsw:",member.memPsw);
            //   console.log("第一手session資料_matPosNo:",member.matPosNo);
            //   console.log("第一手session資料_matPatNo:",member.matPatNo);
            if (member.memNo) {
                document.getElementById("cavMemberN").innerText = '會員:' + member.memName + '-' + member.memNo;
                document.getElementById("cavMemberH").innerText = '會員:' + member.memName + '-' + member.memNo;
                document.getElementById("cavPaperN").innerText = '信紙:' + member.letCount;
                document.getElementById("cavPaperH").innerText = '信紙:' + member.letCount;
                document.getElementById("cavCoinN").innerText = 'Air幣:' + member.airCoin;
                document.getElementById("cavCoinH").innerText = 'Air幣:' + member.airCoin;
                document.getElementById("signInStatusIconN").style.color = 'green';
                document.getElementById("signInStatusIconH").style.color = 'green';
                document.getElementById("signInStatusN").innerHTML = "登出";
                document.getElementById("signInStatusH").innerHTML = "登出";
                if (member.intColor == 0) {
                    document.getElementById("intColor").style.backgroundColor = "rgba(255, 255, 255, .2)";
                } else {
                    document.getElementById("intColor").style.backgroundColor = "rgba(0,0,0,.2)";
                }
                // console.log('登入狀態:已登入');
            } else {
                // console.log('登入狀態:尚未登入');
            }
        }
        xhr.open("get", "./phps/nav_getSignInInfo.php", true);
        xhr.send(null);
    }


    function memName() {//////////////////memName產生器
        var arr = ['丹迪', '雲彩', '粉彩', '西卡', '牛皮', '瓦楞'];
        var index = Math.floor((Math.random() * arr.length));
        return arr[index];
    }

    function cancelRegisterForm() {//////////////////清除註冊表單內容
        document.getElementById("registerEmail").value = "";
        document.getElementById("registerPassword").value = "";
        document.getElementById("registerPasswordCheck").value = "";
        document.getElementById("registerBg").style.display = "none";
        document.getElementById("signInBg").style.display = "block";
    }

    function sendRegisterForm() {//////////////////註冊表單發送
        const registermemEmail = document.getElementById("registerEmail").value;
        const registermemPsw = document.getElementById("registerPassword").value;
        const registermemPswCheck = document.getElementById("registerPasswordCheck").value;
        const registermemName = memName();
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            memberR = JSON.parse(xhr.responseText);
            if (memberR.memEmail) {
                cancelRegisterForm();
                document.getElementById("signInBg").style.display = "none";
                let xhr = new XMLHttpRequest();
                let memEmail = memberR.memEmail;
                let memPsw = memberR.memPsw;
                let data_info = `memEmail=${memEmail}&memPsw=${memPsw}`;
                xhr.onload = function () {
                    showMemInfo(xhr.responseText);
                }
                xhr.open("post", "./phps/nav_login.php", true);
                xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                xhr.send(data_info);
                alert(memberR.memEmail + ' ' + '您好！ 您已註冊成功');
            }
            else {
                alert('此Email已註冊過');
            }
        }
        xhr.open("post", "./phps/nav_register.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (registermemEmail != '' && registermemPsw != '' && registermemPswCheck != '') {
            if (registermemPsw.length >= 8) {
                if (!registermemPsw.match(/[^a-zA-Z0-9]+/)) {
                    if (registermemPsw == registermemPswCheck) {
                        let data_info = `memName=${registermemName}&memEmail=${registermemEmail}&memPsw=${registermemPsw}`;
                        xhr.send(data_info);
                    } else {
                        alert('密碼確認與第一次輸入不同');
                    }
                } else {
                    alert('密碼須為英文大小寫或數字');
                }
            } else {
                alert('密碼長度需為8-12');
            }
        } else {
            alert('欄位不可空白');
        }
    }

    function newPsw(length) {//////////////////密碼產生器
        let newPsw = '';
        let alphabet = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
        let alphabetLength = alphabet.length;
        for (let i = 0; i < length; i++) {
            newPsw += alphabet.charAt(Math.floor(Math.random() * alphabetLength));
        }
        return newPsw;
    }

    function cancelForgetForm() {//////////////////清除忘記密碼表單內容
        document.getElementById("forgetEmail").value = "";
        document.getElementById("forgetBg").style.display = "none";
        document.getElementById("signInBg").style.display = "block";
    }

    function sendForgetForm() {//////////////////忘記密碼表單發送
        const forgetmemEmail = document.getElementById("forgetEmail").value;
        const memNewPsw = newPsw(8);//呼叫新密碼產生器
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.responseText == 'Success!') {
                document.getElementById("forgetEmail").value = "";
                document.getElementById("forgetBg").style.display = "none";
                alert('新密碼已寄送至您的信箱中');
            }
            else {
                alert('查無此Email');
            }
        }
        xhr.open("post", "phps/airPlanMailer/nav_forget.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (forgetmemEmail != '') {
            let data_infoF = `memEmail=${forgetmemEmail}&newPsw=${memNewPsw}`;
            xhr.send(data_infoF);
        }
        else {
            alert('欄位不可空白');
        }
    }

    window.addEventListener("load", function () {//////////////////表單按鈕事件聆聽
        getSignInInfo();//檢查登入狀態
        document.getElementById("signInBtn").onclick = sendSignInForm;//點擊登入按鈕呼叫發送表單function
        document.getElementById("signInCancelBtn").onclick = cancelSignIn;//點擊取消按鈕呼叫清除表單function
        document.getElementById("registerBtn").onclick = sendRegisterForm;//點擊註冊按鈕呼叫發送表單function
        document.getElementById("registerCancelBtn").onclick = cancelRegisterForm;//點擊註冊取消按鈕呼叫清除表單function
        document.getElementById("forgetBtn").onclick = sendForgetForm;//點擊忘記密碼按鈕呼叫發送表單function
        document.getElementById("forgetCancelBtn").onclick = cancelForgetForm;//點擊忘記密碼取消按鈕呼叫清除表單function
    });
</script>

<!-- 會員登入/註冊/忘記密碼燈箱 -->
<script>
    const signInBg = document.getElementById("signInBg");//登入燈箱
    const showSigin = document.querySelectorAll(".showSigin");
    const closeSigin = document.getElementById("closeSigin");
    const signInStatusL = document.getElementById("signInStatusN");//登入資訊
    showSigin.forEach(item => {//開啟登入燈箱
        item.addEventListener('click', () => {
            if (signInStatusL.innerHTML == "登入") {
                signInBg.style.display = "block";
            }
            else {//登出
                logout();
            }
        })
    })
    closeSigin.onclick = function () {//////////////////x關閉登入燈箱
        cancelSignIn();
    };
    const registerBg = document.getElementById("registerBg");//註冊燈箱
    const showRegister = document.getElementById("showRegister");
    const closeRegister = document.getElementById("closeRegister");
    showRegister.onclick = function () {//////////////////開啟註冊燈箱
        registerBg.style.display = "block";
        signInBg.style.display = "none";
    };
    closeRegister.onclick = function () {//////////////////關閉註冊燈箱
        cancelRegisterForm();
        signInBg.style.display = "none";
    };

    const forgetBg = document.getElementById("forgetBg");//忘記密碼燈箱
    const showForget = document.getElementById("showForget");
    const closeForget = document.getElementById("closeForget");
    showForget.onclick = function () {//////////////////開啟忘記密碼燈箱
        forgetBg.style.display = "block";
        signInBg.style.display = "none";
    };
    closeForget.onclick = function () {//////////////////關閉忘記密碼燈箱
        cancelForgetForm();
        signInBg.style.display = "none";
    };
</script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="./js/kloud.min.js"></script>

<header>
    <div id="headerClouds" style="width: 100%; height: 18vw;">
        <canvas id="myClouds" style="width: 100%; height: 40%;"></canvas>
    </div>
    <!-- 漂浮的雲 -->
    <div class="white-space-bg">
        <div class="head-box">
            <div class="dot-box-blue bottom-bg">
                <span class="share-clip clip-left"></span>
                <span class="share-clip clip-right"></span>
                <div class="box-white top-left-bg">
                    <div class="box-white top-left-bg" id='headerVue' style="position: relative;">
                        <!-- 這裡會自動判斷頁面產生 -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clouds" id="clouds">
            <div class="cloud_1"></div>
            <template  v-for="(cloud, index) in 15">
                <div :class=`cloud_${index}` :style="{left: `${Math.random() * innerWidth}px`}"></div>
            </template>
            
        </div>
    </div>


    
    <script>
        $('#myClouds').Klouds({
            speed: 1,
            layerCount: 4,
            cloudColor1: '#82afd9',
            cloudColor2: '#F7FAFD',
            // bgColor1: '#82afd9',
            bgColor: '#ffffff',
        })
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script>
        /*
         * header Contant Change
         */
        const writeLetter = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div class="headerText-1">寫</div>
                <br>
                <img src="./img/share/Paint-bucket.svg" class="paint-bucket">
                <img src="./img/share/shiny.svg" class="shiny-big">
                <img src="./img/share/shiny.svg" class="shiny-small">
                <img src="./img/share/yellow-paint-line.svg" class="yellow-paint-line">
                <div class="headerText-2">
                    <img src="./img/share/line-paperPlane.svg" class="line-paperPlane">
                    &nbsp一封信
                </div>
            </h1>
            `
        }
        const catchLetter = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div class="catch-headerText">
                <span style="font-size:inherit; ">查看</span>
                <span style="font-size:inherit; ">&nbsp撈信</span>
                </div>
                <br>
                <img src="./img/share/butterfly-net.svg" class="catch-net">
                <img src="./img/share/shiny.svg" class="catch-shinyBig">
                <img src="./img/share/shiny.svg" class="catch-shinySmall">
                <img src="./img/share/yellow-paint-line.svg" class="catch-yellowPaintLine">
                <img src="./img/share/line-paperPlane.svg" class="catch-linePaperPlane">
            </h1>
            `
        }
        const chatroom = {
            template: `
            <h1 class="headpg-name threed-text-blue chatroom-header">
                <div 
                    style="width:45%; text-align:center; display:flex;
                    flex-direction:column; align-items:center; justify-content:space-evenly;">
                <span style="font-size:inherit;">聊天室</span>
                </div>
                <br>
                <img src="./img/share/phone.png" class="phone">
                <img src="./img/share/shiny.svg" class="shiny1">
                <img src="./img/share/shiny.svg" class="shiny2">
                <img src="./img/share/yellow-paint-line.svg" class="paint">
                <img src="./img/share/chat_talk.png" class="chat_talk">
            </h1>
            `
        }
        const cave = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div class="cave-headerText">
                <span style="font-size:inherit;">我的倉庫</span>
                </div>
                <br>
                <img src="./img/cave/cavheaderImg.png" class="cave-cavheaderImg">
                <img src="./img/share/cave-pattern.svg" class="cave-pattern">
            </h1>
            `
        }
        const shop = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div 
                    style="width:80%; text-align:center; display:flex;
                    flex-direction:column; align-items:center; justify-content:space-evenly;">
                <span class="shop-headerText">客製化商城</span>
                </div>
                <br>
                <img src="./img/share/shop-pattern2.svg" class="shop-pattern2">
                <img src="./img/share/shop-pattern.svg" class="shop-pattern">
                
                <img src="./img/share/yellow-paint-line.svg" class="shop-yellowPaintLine">
            </h1>
            `
        }
        const userSetting = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    用戶設定
                <img src="./img/user-setting/wrench.svg" class="userSet-wrench">
                </div>
                <br>
                <img src="./img/user-setting/gear.svg" alt="gear" class="userSet-gear">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    <img src="./img/user-setting/hammer.svg" class="userSet-hammer">
                </div>
            </h1>
            `
        }
        
        new Vue({
            el: '#headerVue',
            template: `
                <div class="box-white top-left-bg">
                    <component :is='pageTitle'/>
                </div>
            `,
            components: {
                writeLetter,
                catchLetter,
                chatroom,
                cave,
                shop,
                userSetting,
            },
            data: {
                pageTitle: null
            },
            mounted(){
                // console.log(location.href.split('/').reverse()[0].split('.')[0]);
                this.pageTitle = location.href.split('/').reverse()[0].split('.')[0];
                
            }
        })
        
        /*
         * header Clouds
         */
        let vm = new Vue({
            el:'#clouds',
        });
    </script>
</header>
  <main class="shop-main">
    <div id="coinBox">
      <div id="coinArea">
        <div class="coinBox">
          <span class="airCoinTxt">–</span>
          <span id="coinInnerCount"></span>
          <div class="airCoinSingle"><img src="./img/product/decorate/airCoinSingle.png" alt=""></div>
          <div class="airCoin"><img src="./img/product/decorate/airCoin.png" alt=""></div>

        </div>
        <h6 id="coinTextArea"><span id="coin"></span> air幣</h6>
      </div>

    </div>
    <section id="section1">
      <div class="container">
        <div class="row">
          <div id="conectionLine" class="col-12">
            <img src="./img/product/decorate/pinkclip.svg" alt="" class="iron_clip1">
            <img src="./img/product/decorate/pinkclip.svg" alt="" class="iron_clip2">
          </div>
        </div>
      </div>
      <div id="shopOutsideBox">
        <div class="shopItemContainer">
          <div class="itemPage1">
            <div class="itemPage2">
              <div class="itemPage0"></div>
            </div>
          </div>
        </div>

        <div id="app">
          <div class="col-12 col-sm-12  col-md-12 col-lg-12 itemCardBox ">
            <div class="itemCardAside">
              <div class="itemCardAsideBox">
                <div class="threed_text_box">
                  <div class="threed-text-red-endWhite" id="threed-text-red-endWhite">選購商品</div>
                </div>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          <h3>郵戳</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='countries'">地球村</h5>
                        <h5 @click="visibility='frame'">外框</h5>
                        <h5 @click="visibility='simple'">線條</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h3>圖案</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='animal'">造型</h5>
                        <h5 @click="visibility='handpattern'">手繪</h5>
                        <h5 @click="visibility='vector'">向量</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h3>工具</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='tool'">DIY工具</h5>
                        <h5 @click="visibility='letter'">信紙</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" itemCardContainer">
              <div class="cardFilter">
                <img src="./img/product/decorate/lineTop.png" alt="" class="line_top" id="line_top">
                <img src="./img/product/decorate/lineButtom.png" alt="" class="line_bottom" id="line_bottom">
                <div @mousemove="mousemove($event)" @mouseout="mouseout($event)" @click="changeIndex($event)"
                  v-for="(item,index) in pagedListdata" v-if="change(index)"
                  :style="{backgroundImage:`url(${item.url})`}" :id=item.id :class=item.class>
                  <img src="./img/product/decorate/clip-04.svg" alt="">
                </div>
              </div>
              <div id="emptyBtn">
                <div class="switchBtnBox" @click="page = 1">
                  <div class="switchBtn">page1</div>
                </div>
                <div class="switchBtnBox" @click="page = 2">
                  <div class="switchBtn">page2</div>
                </div>
                <div class="switchBtnBox" @click="page = 3">
                  <div class="switchBtn">page3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter_forSamll">
            <div class="filter_forSamllBox">
              <div class="threed_text_box">
                <div class="threed-text-red-endWhite">選購商品</div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  郵戳
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='countries'"> 地球村</div>
                  <div class="dropdown-item" @click="visibility='frame'">外框</div>
                  <div class="dropdown-item" @click="visibility='simple'">線條</div>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  圖案
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='animal'">造型</div>
                  <div class="dropdown-item" @click="visibility='handpattern'">手繪</div>
                  <div class="dropdown-item" @click="visibility='vector'">向量</div>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  工具
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='tool'">DIY工具</div>
                  <div class="dropdown-item" @click="visibility='letter'">信紙</div>
                </div>
              </div>
            </div>
          </div>
          <div id="outshadow"></div>
          <div id="medal">
            <div @click="closeModel" class="cross"></div>
            <div id="textBox">
              <div class="titleBox">
                <h4 id="titleInner"></h4>
              </div>
              <div class="textBox">
                <h6 id="infoInner"></h6>
              </div>
              <div class="chance_priceBox">
                <!-- <h5>信件被撈機率加乘 : <span id="chanceInner"></span>
                </h5> -->
                <h5>商品價格 :<span id="priceInner">50</span>
                </h5>
              </div>
            </div>
            <div class="product_display">
              <div class="model_material"><img src="./img/product/decorate/model_material.png" alt=""></div>
              <div class="model_arrow"><img src="./img/product/decorate/model_arrow-04.svg" alt=""></div>
              <div class="model_product"><img src="./img/product/decorate/model_product_1.png" alt=""></div>
            </div>
            <div class="orderBtnBoxGroup">
              <div class="orderBtnBox">
                <div class="orderBtn">
                  <div @click="customerOrder($event)" class="orderText">購買</div>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <div id="pile">
      <div class="pilePaper"><span>彩繪飛機用的圖案素材</span>
        <div class="innerBox"></div>
      </div>
      <div class="cover"></div>
      <div class="pile"></div>
      <div class="redTapeRight"><img src="./img/share/red-tape-rough.svg" alt=""></div>
      <div class="redTapeLeft"><img src="./img/share/red-tape-sticky-02.svg" alt=""></div>
      <div class="redTapeLeftUp"><img src="./img/share/red-tape-up-02.svg" alt=""></div>
      <div class="pileTitleBoard">
        <div class="pileTitle">
          <h5> 購買完客製化素材及工具之後~<br>就可以開始客製你的專屬郵戳及圖案囉!<br>
            不同畫板上的完成圖，存檔後會存入我的包包，並可使用在撰寫信件或大頭貼中。</h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row customize">
        <div class="customizeTitle">
          <div class="threed-text-red-endWhite">NEXT <br>客製圖樣</div>
        </div>
        <div class="manual">
          <div class="manualTitle">
            <h3>工具使用提示框</h3>
          </div>
          <div class="manualinnerText">
            <h6>滑鼠移入會提示您工具的使用方法喔</h6>
          </div>
        </div>
      </div>
      <div class="toolBtnTip">
        <div class="blueCube"> </div>
        <h6> 尚未購入</h6>
        <div class="yellowCube"></div>
        <h6> 已購入</h6>
      </div>
    </div>
    <section id="section2">
      <div class="customizeArea">
        <div class="controlTool">
          <div class="controlToolTopFlex">
            <div class="controlToolTop">
              <div id="mode" class="controlBox1">
                <div id="controlBox1" class="controlBox1_button clicked">
                  <div class="controlBtn1 clicked 1"><img src="./img/product/toolcontrolbar/cannotWrite.png" alt=""
                      id="modeImg">
                  </div>
                </div>
              </div>
              <div id="clear" class="controlBox2">
                <div id="controlBox2" class="controlBox2_button">
                  <div class="controlBtn2 "><img src="./img/product/toolcontrolbar/control_reset.svg" alt="">
                  </div>
                </div>
              </div>
              <div id="eraser" class="controlBox3">
                <div id="controlBox3" class="controlBox3_button clicked">
                  <div class="controlBtn3 clicked"><img src="./img/product/toolcontrolbar/control_eraser.svg" alt="">
                  </div>
                </div>
              </div>
              <div id="group" class="controlBox4">
                <div id="controlBox4" class="controlBox4_button clicked">
                  <div class="controlBtn4 clicked"><img src="./img/product/toolcontrolbar/merged.svg" alt=""></div>
                </div>
              </div>
              <div id="ungroup" class="controlBox5">
                <div id="controlBox5" class="controlBox5_button clicked">
                  <div class="controlBtn5 clicked"><img src="./img/product/toolcontrolbar/split.svg" alt=""></div>
                </div>
              </div>
              <div id="text" class="controlBox6">
                <div id="controlBox6" class="controlBox6_button clicked">
                  <div class="controlBtn6 clicked"><img src="./img/product/toolcontrolbar/text-symbol.svg" alt=""></div>
                </div>
              </div>
              <div id="filter_Grayscale" class="controlBox7">
                <div id="controlBox7" class="controlBox7_button clicked">
                  <div class="controlBtn7 clicked"><img src="./img/product/toolcontrolbar/filter.svg" alt=""></div>
                </div>
              </div>
              <div class="controlBox8">
                <button id="controlBox8" class="controlBox8_button clicked">
                  <input type="file" id="file">
                  <div class="controlBtn8 clicked"><img src="./img/product/toolcontrolbar/photo.svg" alt=""></div>
                </button>
              </div>
              <div id="outputPngBtn" class="controlBox9">
                <div class="controlBox9_button">
                  <div class="controlBtn9"><img src="./img/product/toolcontrolbar/control_download.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="controlBoxBottom">
            <div class="brushType">
              <label class="brushlabel">
                <h6>畫筆種類</h6>
              </label>
              <div class="box">
                <select class="brushSelect">
                  <option value="Pencil">Pencil</option>
                  <option value="Circle">Circle</option>
                  <option value="Spray">Spray</option>
                  <option value="Square">Square</option>
                </select>
              </div>
            </div>
            <div class="lineColor">
              <label class="lineColorlabel">
                <h6> 畫筆顏色</h6>
              </label>
              <input type="color" min="0" max="150" class="lineColorInput">
            </div>
            <div class="shadowColor">
              <label class="shadowColorlabel">
                <h6> 陰影顏色</h6>
              </label>
              <input type="color" min="0" max="150" class="shadowColorInput">
            </div>
            <div class="lineWidth">
              <label class="lineWidthlabel">
                <h6> 畫筆大小</h6>
              </label>
              <input type="range" min="0" max="150" class="lineWidthInput" value="1">
              <span class="lineWidthValue">1</span>
            </div>
            <div class="shadowBlur">
              <label class="shadowBlurlabel">
                <h6> 陰影模糊</h6>
              </label>
              <input type="range" min="0" max="30" class="shadowBlurInput" value="1">
              <span class="shadowBlurValue">1</span>
            </div>
            <div class="shadowOffsetX">
              <label class="shadowOffsetXlabel">
                <h6> 陰影X軸</h6>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetXInput" value="1">
              <span class="shadowOffsetXValue">1</span>
            </div>
            <div class="shadowOffsetY">
              <label class="shadowOffsetYlabel">
                <h6> 陰影Y軸</h6>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetYInput" value="1">
              <span class="shadowOffsetYValue">1</span>
            </div>
          </div>

          <div class="controlBoxRight">
            <div class="brushType">
              <label class="brushlabel">
                <h6>畫筆種類</h6>
              </label>
              <div class="box">
                <select class="brushSelect">
                  <option value="Pencil">Pencil</option>
                  <option value="Circle">Circle</option>
                  <option value="Spray">Spray</option>
                  <option value="Square">Square</option>
                </select>
              </div>
            </div>
            <div class="lineColor">
              <label class="lineColorlabel">
                <h6> 畫筆顏色</h6>
              </label>
              <input type="color" min="0" max="150" class="lineColorInput">
            </div>
            <div class="shadowColor">
              <label class="shadowColorlabel">
                <h6> 陰影顏色</h6>
              </label>
              <input type="color" min="0" max="150" class="shadowColorInput">
            </div>
            <div class="lineWidth">
              <label class="lineWidthlabel">
                <h6> 畫筆大小</h6>
              </label>
              <input type="range" min="0" max="150" class="lineWidthInput" value="1">
              <span class="lineWidthValue">1</span>
            </div>
            <div class="shadowBlur">
              <label class="shadowBlurlabel">
                <h6> 陰影模糊</h6>
              </label>
              <input type="range" min="0" max="30" class="shadowBlurInput" value="1">
              <span class="shadowBlurValue">1</span>
            </div>
            <div class="shadowOffsetX">
              <label class="shadowOffsetXlabel">
                <h6> 陰影X軸</h6>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetXInput" value="1">
              <span class="shadowOffsetXValue">1</span>
            </div>
            <div class="shadowOffsetY">
              <label class="shadowOffsetYlabel">
                <h6> 陰影Y軸</h6>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetYInput" value="1">
              <span class="shadowOffsetYValue">1</span>
            </div>
          </div>
        </div>
        <div class="drawingBoardBox">
          <div class="canvasWindowBox">
            <div id="canvasBox">
              <canvas id="canvas">
                <div class="drawingPanel" id="drawingOptionArea"></div>
              </canvas>
            </div>
          </div>
          <div id="btns" class="btns">
            <div class="orderBtnBoxGroup">
              <div class="orderBtnBox">
                <div id="boardSwitchBtn" class="orderBtn">
                  <div class="orderText">
                    <h6>切換郵戳畫板</h6>
                  </div>
                </div>
                <div class="orderBtnBottom"></div>
              </div>
            </div>
            <div class="patNameInput">
              <label class="patternName" for="patternName">
                <h5>為您製作的圖案取個名字吧!</h5>
              </label>
              <input type="text" name="patternName" id="patternName">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section3">
      <div id="hand">
        <img class="hand1" src="./img/product/decorate/hand1-01.svg" alt="">
        <img class="hand2" src="./img/product/decorate/hand2-01.svg" alt="">
      </div>
      <div class="owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage">
            <div class="owl-item figure1"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure2"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure3"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure4"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure5"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure6"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure7"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure8"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure9"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure10"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure11"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure12"><img src="" alt="" class="figure"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js'></script>
  <script src="./js/ScrollToPlugin.min.js"></script>
  <script src="./js/ScrollMagic.min.js"></script>
  <script src="./js/animation.gsap.min.js"></script>
  <script src="./js/debug.addIndicators.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.0/fabric.js"></script>

  <script src="./js/fastclick.js"></script>
  <script src="./js/jquery.nice-select.min.js"></script>
  <script src="./js/shop_carousel.js"></script>
  <script src="./js/shop_draw.js"></script>
  <script src="./js/shop_vue.js"></script>
  <script src="./js/animate_tube.js"></script>
  <script>
    $('#myCollapsible').on('hidden.bs.collapse', function () {
      // bootstrap手風琴用
    })
  </script>
  <script>
    //  ================這是3D按鈕用===================================================================
    $('.switchBtn').mousedown(function () {
      $(this).addClass('clicked');
    });
    $('.switchBtn').mouseup(function () {
      $(this).removeClass('clicked');
    });
    $('.orderBtn').mousedown(function () {
      $(this).addClass('clicked');
    });
    $('.orderBtn').mouseup(function () {
      $(this).removeClass('clicked');
    });

    // =====================這是美化下拉式選單===================================================
    $(document).ready(function () {
      $('select:not(.ignore)').niceSelect();
      FastClick.attach(document.body);
    });
  </script>
  <script>
    // ===================這是現有air幣從資料庫抓數字到本頁右方 =======================
    function showMemberInfo(jsonStr) {

      coin = document.getElementById('coin');
      let MemberInfo = JSON.parse(jsonStr);
      // console.log(MemberInfo[0].airCoin)
      // console.log('555555555', MemberInfo)
      if (MemberInfo[0].memName) {
        coin.innerHTML = MemberInfo[0].airCoin;

      }
    }

    function getMemberInfo() {


      var xhr3 = new XMLHttpRequest();
      xhr3.onload = function () {
        if (xhr3.status == 200) {
          //modify here
          showMemberInfo(xhr3.responseText);
          // console.log(xhr.responseText)
        } else {
          // alert(xhr.status);
        }
      }
      cavMemberH = document.getElementById('cavMemberH').innerHTML;
      cavMemberH = cavMemberH.toString().substring(6);
      // console.log("========2", cavMemberH)

      var url = "./phps/shop_axios_post.php?get=shop_getMemberCoin&memNo=" + cavMemberH;
      xhr3.open("Get", url, true);
      xhr3.send(null);
    }
  </script>
  <script>
    //============================這是扣款小動畫===================================
    function boughtProd() {

      TweenMax.fromTo('.airCoinSingle', 5, {
        y: 0,
        opacity: 1,

      }, {
        y: -100,
        opacity: 0,
      })

      TweenMax.fromTo('.airCoinTxt', 5, {
        y: 0,
        opacity: 1,

      }, {
        y: -100,
        opacity: 0,
      })
      TweenMax.fromTo('#coinInnerCount', 5, {
        y: 0,
        opacity: 1,

      }, {
        y: -100,
        opacity: 0,
      });

    }
  </script>
  <script>
    function itemCheck() {
      itemCard62 = document.getElementById('itemCard62')
      // console.log(itemCard62)
    }

    window.addEventListener('load', itemCheck);
    window.addEventListener('load', function () {
      setTimeout(getMemberInfo, 500);
    }, false);
  </script>
  <script>
    for (i = 0; i < 8; i++) {

      document.querySelectorAll('.card-body h5')[i].onclick = changeColor;


      function changeColor(e) {
        for (y = 0; y < 8; y++) {
          document.querySelectorAll('.card-body h5')[y].style.color = "#000";
          e.target.style.color = "#487baa";
        }

      }
    }
  </script>
</body>

</html>